.calculator {
  width: 1280px;
  height: 800px;
  padding-left: 473px;
  padding-top: 100px;
}
.Main-BG {
  width: 400px;
  height: 350px;
  align-items: center;
  justify-content: center;
  display: table;
  display: table-cell;
  background-color: rgb(194, 193, 193);
  box-sizing: border-box;
  border-radius: 5px;
  border-clor: rgb(59, 58, 58);
}
.Main-content {
  width: 350px;
  height: 20px;
  margin-left: 25px;
  margin-top: 20px;
  padding-top: 10px;
  background-color: rgb(49, 48, 48);
  color: white;
  font-size: 32px;
}
h6 {
  margin-left: 105px;
  position: relative;
  bottom: 57px;
  align-items: center;
  justify-items: center;
}
.keys {
  padding: 5px 20px;
  align-content: center;
  justify-content: center;
}
table {
  width: 100%;
  height: 200px;
  border-right-style: solid;
  border-width: 2px;
  border-collapse: separate;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  margin-top: 30px;
  background-color: white;
}
.display-result {
  margin-left: 23px;
  margin-top: 30px;
}

button {
  width: 100%;
  height: 30px;
  background-color: white;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
#add:hover {
  background-color: rgb(139, 55, 25);
}
#subtract:hover {
  background-color: rgb(139, 55, 25);
}
#multiply:hover {
  background-color: rgb(139, 55, 25);
}
#divide:hover {
  background-color: rgb(139, 55, 25);
}
#percentile:hover {
  background-color: rgb(139, 55, 25);
}
#equal:hover {
  background-color: rgb(38, 90, 38);
}
